%form#search(action="/search" method="post")
  %select#category(name="category")
    - CATEGORIES.each do |name|
      %option(value=name)= name
  %br/

  %select#query(name="query_id")
    - category = 'bag'
    - queries_for(category).each_with_index do |(id, name), i|
      - selected = params[:query_id].to_i == id
      %option{value: id, selected: selected, 'data-image'=>name}= "#{category} #{i+1}"
  %br/

  #preview
    %img
  %br/

  - QUERY_TYPES.each do |val, name|
    %input{type: 'radio', name: 'query_type', value: val, checked: val==0}= name
    %br/

  %input(type='submit' value='Search')
  %a(href='/all') See all

#results
  - if @images
    #images
      - @images.each do |img|
        %img(src=img alt=img)
